[Unit]
Description=Pollen bot using Telegram
After=network.target

[Service]
ExecStart=/root/python/pollen_bot/env/bin/python bot.py
WorkingDirectory=/root/python/pollen_bot

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
