[Unit]
Description=Pollen bot using Telegram
After=network.target

[Service]
User=pollen_bot
Group=pollen_bot

ExecStart=/usr/alifeee/pollen_bot/env/bin/python bot.py
WorkingDirectory=/usr/alifeee/pollen_bot

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
